.TournamentCard-link {
    text-decoration: none;
    color: black;
}


.TournamentCard-card:hover { /* <Card /> that is also a <Link /> */
    text-decoration: none;
    color: #198754;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .TournamentCard-crop {
    height: 350px;
    overflow: hidden;
  }

  @media (max-width: 1000px) {
    .TournamentCard-crop {
      height: 250px;
    }
  }

  .TournamentCard-crop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
