.TournamentCard-link {
    text-decoration: none;
    color: black;
}


.TournamentCard-card:hover { /* <Card /> that is also a <Link /> */
    text-decoration: none;
    color: #198754;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .img-container {
    overflow: hidden;
    max-height: 400px;
    /* position: relative; */
  }
