.GreenieCard-link {
    text-decoration: none;
    color: black;
}


.GreenieCard-card:hover { /* <Card /> that is also a <Link /> */
    text-decoration: none;
    color: #198754;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .GreenieCard-crop {
    height: 170px;
    overflow: hidden;
    border-radius: 4px 0 0 4px;
  }

  .GreenieCard-crop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
