.App {
    min-height: 100vh;
    position: relative;
}


//handles the position absolute footer... i think?
.content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
  }



//hr styles and margin auto to center it
hr {
    border: 2px solid grey !important;
    margin: 0rem auto 2.5rem !important;
}


th {
    white-space: nowrap;
    overflow: hidden;
}


h1 {
    text-align: center;
}