.App {
    min-height: 100vh;
    position: relative;
}


//handles the position absolute footer... i think?
.content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
  }



hr {
    border: "2px solid grey"
}