@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato&family=Raleway:wght@600&display=swap');


body {
    background-color: #FFFFFF;
    height: 100%;
}


th {
    white-space: nowrap;
    overflow: hidden;
}



/* FONTS */
h1 {
    font-family: 'Fredoka one';
}

.display-6 {
    font-family: 'Raleway';
}

